sample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="friendsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="friend"/>
        <xs:element ref="bestFriend"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="friend" type="name"/>
  <xs:element name="bestFriend" type="name"/>
  <xs:complexType name="name">
    <xs:sequence>
      <xs:element ref="name"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="name" type="xs:NCName"/>
</xs:schema>